@import "./kromatika.css";
@import "./colors.css";
@import "./syntaxhighlighting.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar-hide";
@custom-variant dark (&:where(.dark, .dark *));

@theme {

  /* Typography */
  --font-sans: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
 /* Colors */
   --color-blue-light: #60beff;
  --color-blue: #1da8ff;
  --color-blue-dark: #007bff;
  --color-green-light: #33cd8e;
  --color-green: #00c172;
  --color-green-dark: #00a651;
  --color-yellow-light: #ffcd6c;
  --color-yellow: #ffb112;
  --color-yellow-dark: #ffa100;
  --color-orange: #fa5925;
  --color-orange-dark: #fd4202;
  /* Accents */
  --color-accent: #f85912;
  --color-accent-dark: #e03e23;
  /* Accents - British Racing Green */
  --color-beige: #f7f7f4;
  --color-beige-dark: #e4e1db;
  

  /* Base colors */
  --color-base-50: oklch(0.985 0 0);
  --color-base-100: oklch(0.97 0 0);
  --color-base-200: oklch(0.922 0 0);
  --color-base-300: oklch(0.87 0 0);
  --color-base-400: oklch(0.708 0 0);
  --color-base-500: oklch(0.556 0 0);
  --color-base-600: oklch(0.439 0 0);
  --color-base-700: oklch(0.371 0 0);
  --color-base-800: oklch(0.269 0 0);
  --color-base-900: oklch(0.205 0 0);
  --color-base-950: oklch(0.145 0 0);
  
}
